<<<<<<< HEAD
.map {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  transition: opacity 150ms ease-in;
}

.map.visible{
  opacity: 1;
}

.cardLogin {
  text-align: center;
  
}

.label {
  text-align: center;
}
=======
#mapa-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  
  ion-content {
    --padding-top: 0;
    --padding-bottom: 0;
  }
  
>>>>>>> 03623c9 (Primer commit)
